@import './variables';

.cover {
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: -1;
    margin: 0;

    .parallax-inner {
        height: 100%;
    }

    .absoluteContainer {
        @include cover();
    }

    .dayBackground {
        @include cover();
        background: linear-gradient(to bottom, $sky_blue, $sky_grey);
    }

    .nightBackground {
        @include cover();
        opacity: 0;
        background: linear-gradient(to bottom, $night_blue, $night_purple);
        transition: opacity $long_duration;
    }

    .sunAndMoon {
        @include cover();
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: $large_spacing 0;
        overflow: hidden;
        transition: transform $long_duration;

        .sun,
        .moon {
            border-radius: 50%;
            margin-left: 30%;
        }

        .sun {
            width: 150px;
            height: 150px;
            background: #fffaac;
            box-shadow: 0px 0px 30px #fffaac;
        }

        .moon {
            width: 100px;
            height: 100px;
            background: $white;
            box-shadow: 0px 0px 30px white;
        }
    }

    .clouds {
        @include cover();

        @keyframes move {
            from { left: 100%; }
            to { left: -200px; }
        }

        .cloud {
            width: 200px;
            height: 60px;
            background: $white;
            border-radius: 200px;
            position: absolute;
            left: 100%;
            top: 60px;
            opacity: 0.6;
            animation: move 40s linear infinite;

            &:before,
            &:after {
                content: '';
                position: absolute; 
                background: $white;
                width: 100px;
                height: 80px;
                position: absolute;
                top: -15px;
                left: 10px;
                border-radius: 100px;
                transform: rotate(30deg);
            }

            &:after {
                width: 120px;
                height: 120px;
                top: -55px;
                left: auto;
                right: 15px;
            }

            &:first-child {
                top: 60%;
            }

            &:nth-child(2) {
                top: 30%;
                transform: scale(0.6);
                animation-delay: -20s;
                animation-duration: 25s;
            }

            &:nth-child(3) {
                top: 40%;
                transform: scale(0.9);
                animation-delay: -16s;
                animation-duration: 35s;
            }

            &:nth-child(4) {
                top: 60px + $medium_spacing;
                transform: scale(0.8);
                animation-delay: -22s;
                animation-duration: 30s;
            }
        }
    }

    .myInfo {
        @include cover();
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-align: center;
        padding-bottom: $large_spacing;
        margin: 0;
        transition: color $long_duration;
    }

    .city {
        @include cover();

        .parallax-inner {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            img {
                width: calc(100% + 2px);
                min-width: 1200px;
                vertical-align: top;
            }
        }
    }

    &.scrolled {
        .nightBackground {
            opacity: 1;
        }

        .sunAndMoon {
            transform: rotate(160deg);
        }

        .myInfo {
            color: $white;
        }
    }
}