@import './variables';

.projects {
    padding: $xlarge_spacing $small_spacing;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .cardRow {
        display: flex;
    }

    .card {
        max-width: 200px;
        flex-shrink: 0;
        margin: $small_spacing;
        border-radius: $standard_border_radius;
        overflow: hidden;
        opacity: 0.8;
        transition: opacity $short_duration, transform $short_duration;
        flex: 1;

        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }

        img {
            width: 100%;
        }
    }
}